<h1>Cluster finder</h1>
<%= form_tag '/clust', method: "get" do %>
  MinDiff: <%= text_field_tag :mindiff, nil, size: 6 %>
  MaxDiff: <%= text_field_tag :maxdiff, nil, size: 6 %>
  <%= submit_tag "Limit Range" %>
<% end %>

<table>
  <tr>
    <th>Wattdiff</th>
    <th>WMoment</th>
    <th>Count</th>
    <th>VARdiff</th>
    <th>VMoment</th>
    <th>Count</th>
  </tr>

<% @wattclusts.each do |vp| %>
  <tr>
    <td><%= vp[0] %></td>
    <td><%= threedecimal(vp[1]) %></td>
    <td><%= vp[2] %></td>
  </tr>
<!--
  <% vp[3].each do |vap| %>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td><%= vap[0] %></td>
      <td><%= threedecimal(vap[1]) %></td>
      <td><%= vap[2].count %></td>
    </tr>
  <% end %>
-->
<% end %>
</table>

