<!DOCTYPE html>
<html>
<head>
  <title><%= "#{controller.controller_name.camelize}: #{controller.action_name}" %></title>
  <%= stylesheet_link_tag 'basic1' %>
  <%= javascript_include_tag :application, 'highcharts-adapter', 'highcharts' %>
  <%= javascript_include_tag 'excanvas' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>
<%= yield %>

</body>
</html>
